{
  "parser": "babel-eslint",
  "parserOptions": {
    "ecmaVersion": 2021,
    "sourceType": "module"
  },
  "env": {
    "es6": true,
    "browser": true,
    "node": true
  },
  "rules": {
      "prettier/prettier": [
      "error",
      {
        "endOfLine": "auto"
      }
    ],
    "unicorn/prevent-abbreviations": "off",
    "unicorn/filename-case": "off",
    "semi": "off",
    "require-jsdoc": "off"
  },
  "plugins": [
    "prettier",
    "unicorn"
  ],
  "extends": [
    "eslint:recommended",
    "google",
    "plugin:unicorn/recommended",
    "plugin:prettier/recommended"
  ]
}
