<!DOCTYPE html>
<!--[if lt IE 7 ]><html class="ie ie6" lang="en"> <![endif]-->
<!--[if IE 7 ]><html class="ie ie7" lang="en"> <![endif]-->
<!--[if IE 8 ]><html class="ie ie8" lang="en"> <![endif]-->
<!--[if (gte IE 9)|!(IE)]><!--><html lang="en"> <!--<![endif]-->

<head>

<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />

<meta name="description" content="Name of your web site">
<meta name="author" content="Marketify">

<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

<title>Tokyo | Home</title>

<!-- STYLES -->
<link href="https://fonts.googleapis.com/css2?family=Mulish:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Poppins:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap" rel="stylesheet">
<link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap" rel="stylesheet">
<link href="https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&display=swap" rel="stylesheet">

<link rel="stylesheet" type="text/css" href="css/plugins.css" />
<link rel="stylesheet" type="text/css" href="css/dark.css" />
<link rel="stylesheet" type="text/css" href="css/style.css" />
<!--[if lt IE 9]> <script type="text/javascript" src="js/modernizr.custom.js"></script> <![endif]-->
<!-- /STYLES -->

</head>

<body class="dark"> 
	
	<!-- PRELOADER -->
	<div id="preloader">
		<div class="loader_line"></div>
	</div>
	<!-- /PRELOADER -->
	
	<!-- WRAPPER ALL -->
	<div class="tokyo_tm_all_wrap" data-magic-cursor="show" data-enter="fadeInUp" data-exit=""> 

		<!-- MOBILE MENU -->
		<div class="tokyo_tm_topbar">
			<div class="topbar_inner">
				<div class="logo" data-type="image"> <!-- You can use image or text as logo. data-type values are "image" and "text" -->
					<a href="#">
						<img src="img/logo/logo.png" alt="" />
						<h3>TOKYO</h3>
					</a>
				</div>
				<div class="trigger">
					<div class="hamburger hamburger--slider">
						<div class="hamburger-box">
							<div class="hamburger-inner"></div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="tokyo_tm_mobile_menu">
			<div class="menu_list">
				<ul class="transition_link">
					<li class="active"><a href="#home">Home</a></li>
					<li><a href="#about">About</a></li>
					<li><a href="#service">Service</a></li>
					<li><a href="#portfolio">Portfolio</a></li>
					<li><a href="#news">News</a></li>
					<li><a href="#contact">Contact</a></li>
				</ul>
			</div>
		</div>
		<!-- /MOBILE MENU -->

		<!-- LEFTPART -->
		<div class="leftpart">
			<div class="leftpart_inner">
				<div class="logo" data-type="image"> <!-- You can use image or text as logo. data-type values are: "image" and "text" -->
					<a href="#">
						<img src="img/logo/logo.png" alt="" />
						<h3>TOKYO</h3>
					</a>
				</div>
				<div class="menu">
					<ul class="transition_link">
						<li class="active"><a href="#home">Home</a></li>
						<li><a href="#about">About</a></li>
						<li><a href="#service">Service</a></li>
						<li><a href="#portfolio">Portfolio</a></li>
						<li><a href="#news">News</a></li>
						<li><a href="#contact">Contact</a></li>
					</ul>
				</div>
				<div class="copyright">
					<p>&copy; 2022 Tokyo<br>Created by <a href="https://themeforest.net/user/marketify" target="_blank">Marketify</a></p>
				</div>
			</div>
		</div>
		<!-- /LEFTPART -->

		<!-- RIGHTPART -->
		<div class="rightpart">
			<div class="rightpart_in">

				<!-- HOME -->
				<div id="home" class="tokyo_tm_section animated">
					<div class="container">
						<div class="tokyo_tm_home">
							<div class="home_content">
								<div class="avatar" data-type="wave"> <!-- data-type values are: "wave", "circle", "square"-->
									<div class="image" data-img-url="img/portfolio/1.jpg"></div>
								</div>
								<div class="details">
									<h3 class="name">Adriano <span>Smith</span></h3>
									<p class="job">I am a WordPress Developer at heart and create features that are best suited for the job at hand.</p>
									<div class="social">
										<ul>
											<li><a href="#"><i class="icon-facebook-squared"></i></a></li>
											<li><a href="#"><i class="icon-twitter-squared"></i></a></li>
											<li><a href="#"><i class="icon-behance-squared"></i></a></li>
											<li><a href="#"><i class="icon-linkedin-squared"></i></a></li>
											<li><a href="#"><i class="icon-instagram-"></i></a></li>
										</ul>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
				<!-- /HOME -->

				<!-- ABOUT -->
				<div id="about" class="tokyo_tm_section">
					<div class="container">
						<div class="tokyo_tm_about">
							<div class="tokyo_tm_title">
								<div class="title_flex">
									<div class="left">
										<span>About</span>
										<h3>About Me</h3>
									</div>
								</div>
							</div>
							<div class="top_author_image">
								<img src="img/slider/1.jpg" alt="" />
							</div>
							<div class="about_title">
								<h3>Adriano Smith</h3>
								<span>Web Developer</span>
							</div>
							<div class="about_text">
								<p>Hi, my name is Adriano Smith and I began using WordPress when it first began. I’ve spent most of my waking hours for the last ten years designing, programming and operating WordPress sites.</p>
								<p>One of my specialties is taking an idea from scratch and creating a full-fledged platform. I go beyond to produce sites with a unique, outstanding, contemporary look-and-feel. With extensive knowledge of web mechanics, I’m able to optimize complex integrations to require little-to-no maintenance while running on their own for years.</p>
							</div>
							<div class="tokyo_tm_short_info">
								<div class="left">
									<div class="tokyo_tm_info">
										<ul>
											<li><span>Birthday:</span><span>01.07.1990</span></li>
											<li><span>Age:</span><span>32</span></li>
											<li><span>Address:</span><span>Ave 11, New York, USA</span></li>
											<li><span>Email:</span><span><a href="mailto:tokyo@gmail.com">tokyo@gmail.com</a></span></li>
											<li><span>Phone:</span><span><a href="tel:+77 022 177 05 05">+77 022 177 05 05</a></span></li>
										</ul>
									</div>
								</div>
								<div class="right">
									<div class="tokyo_tm_info">
										<ul>
											<li><span>Nationality:</span><span>USA</span></li>
											<li><span>Study:</span><span>Univercity of Texas</span></li>
											<li><span>Degree:</span><span>Master</span></li>
											<li><span>Interest:</span><span>Playing Football</span></li>
											<li><span>Freelance:</span><span>Available</span></li>
										</ul>
									</div>
								</div>
							</div>
							<div class="tokyo_tm_button" data-position="left">
								<a href="img/cv/1.jpg" download>
									<span>Download CV</span>
								</a>
							</div>
						</div>
					</div>	
					<div class="tokyo_tm_progressbox">
						<div class="container">
							<div class="in">
								<div class="left">
									<div class="tokyo_section_title">
										<h3>Programming Skills</h3>
									</div>
									<div class="tokyo_progress">
										<div class="progress_inner" data-value="95">
											<span><span class="label">WordPress</span><span class="number">95%</span></span>
											<div class="background"><div class="bar"><div class="bar_in"></div></div></div>
										</div>
										<div class="progress_inner" data-value="80" >
											<span><span class="label">JavaScript</span><span class="number">80%</span></span>
											<div class="background"><div class="bar"><div class="bar_in"></div></div></div>
										</div>
										<div class="progress_inner" data-value="90">
											<span><span class="label">Angular</span><span class="number">90%</span></span>
											<div class="background"><div class="bar"><div class="bar_in"></div></div></div>
										</div>
									</div>
								</div>
								<div class="right">
									<div class="tokyo_section_title">
										<h3>Language Skills</h3>
									</div>
									<div class="tokyo_progress">
										<div class="progress_inner" data-value="90">
											<span><span class="label">English</span><span class="number">90%</span></span>
											<div class="background"><div class="bar"><div class="bar_in"></div></div></div>
										</div>
										<div class="progress_inner" data-value="95" >
											<span><span class="label">Russian</span><span class="number">95%</span></span>
											<div class="background"><div class="bar"><div class="bar_in"></div></div></div>
										</div>
										<div class="progress_inner" data-value="85">
											<span><span class="label">Arabic</span><span class="number">85%</span></span>
											<div class="background"><div class="bar"><div class="bar_in"></div></div></div>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
					<div class="tokyo_tm_skillbox">
						<div class="container">
							<div class="in">
								<div class="left">
									<div class="tokyo_section_title">
										<h3>Knowledge</h3>
									</div>
									<div class="tokyo_tm_skill_list">
										<ul>
											<li>
												<span><img class="svg" src="img/svg/rightarrow.svg" alt="" />Bootstrap, Angular</span>
											</li>
											<li>
												<span><img class="svg" src="img/svg/rightarrow.svg" alt="" />React, Vue, Laravel</span>
											</li>
											<li>
												<span><img class="svg" src="img/svg/rightarrow.svg" alt="" />Stylus, Sass, Less</span>
											</li>
											<li>
												<span><img class="svg" src="img/svg/rightarrow.svg" alt="" />Gulp, Webpack, Grunt</span>
											</li>
											<li>
												<span><img class="svg" src="img/svg/rightarrow.svg" alt="" />Tweenmax, GSAP</span>
											</li>
										</ul>
									</div>
								</div>
								<div class="right">
									<div class="tokyo_section_title">
										<h3>Interests</h3>
									</div>
									<div class="tokyo_tm_skill_list">
										<ul>
											<li>
												<span><img class="svg" src="img/svg/rightarrow.svg" alt="" />Make UI/UX Design</span>
											</li>
											<li>
												<span><img class="svg" src="img/svg/rightarrow.svg" alt="" />Create Mobile App</span>
											</li>
											<li>
												<span><img class="svg" src="img/svg/rightarrow.svg" alt="" />Site Optimization</span>
											</li>
											<li>
												<span><img class="svg" src="img/svg/rightarrow.svg" alt="" />Custom Website</span>
											</li>
											<li>
												<span><img class="svg" src="img/svg/rightarrow.svg" alt="" />Learn Ecommerce</span>
											</li>
										</ul>
									</div>
								</div>
							</div>
						</div>
					</div>
					<div class="tokyo_tm_resumebox">
						<div class="container">
							<div class="in">
								<div class="left">
									<div class="tokyo_section_title">
										<h3>Education</h3>
									</div>
									<div class="tokyo_tm_resume_list">
										<ul>
											<li>
												<div class="list_inner">
													<div class="time">
														<span>2014 - 2016</span>
													</div>
													<div class="place">
														<h3>Oxford Univercity</h3>
														<span>Master Degree</span>
													</div>
												</div>
											</li>
											<li>
												<div class="list_inner">
													<div class="time">
														<span>2010 - 2014</span>
													</div>
													<div class="place">
														<h3>Texas Univercity</h3>
														<span>Bachelor Degree</span>
													</div>
												</div>
											</li>
											<li>
												<div class="list_inner">
													<div class="time">
														<span>2008 - 2010</span>
													</div>
													<div class="place">
														<h3>Simone College</h3>
														<span>Associate Degree</span>
													</div>
												</div>
											</li>
										</ul>
									</div>
								</div>
								<div class="right">
									<div class="tokyo_section_title">
										<h3>Experience</h3>
									</div>
									<div class="tokyo_tm_resume_list">
										<ul>
											<li>
												<div class="list_inner">
													<div class="time">
														<span>2018 - Now</span>
													</div>
													<div class="place">
														<h3>Envato Market</h3>
														<span>Exclusive Author</span>
													</div>
												</div>
											</li>
											<li>
												<div class="list_inner">
													<div class="time">
														<span>2016 - 2018</span>
													</div>
													<div class="place">
														<h3>RGB Studio</h3>
														<span>UX Designer</span>
													</div>
												</div>
											</li>
											<li>
												<div class="list_inner">
													<div class="time">
														<span>2012 - 2016</span>
													</div>
													<div class="place">
														<h3>Innovations Park</h3>
														<span>Web Designer</span>
													</div>
												</div>
											</li>
										</ul>
									</div>
								</div>
							</div>
						</div>
					</div>
					<div class="tokyo_tm_testimonials">
						<div class="container">
							<div class="tokyo_section_title">
								<h3>Testimonials</h3>
							</div>
							<div class="list">
								<ul class="owl-carousel">
									<li>
										<div class="list_inner">
											<div class="text">
												<p>Beautiful minimalist design and great, fast response with support. Highly recommend. Thanks Marketify!</p>
											</div>
											<div class="details">
												<div class="image">
													<div class="main" data-img-url="img/testimonials/1.jpg"></div>
												</div>
												<div class="info">
													<h3>Alexander Walker</h3>
													<span>Graphic Designer</span>
												</div>
											</div>
										</div>
									</li>
									<li>
										<div class="list_inner">
											<div class="text">
												<p>These people really know what they are doing! Great customer support availability and supperb kindness.</p>
											</div>
											<div class="details">
												<div class="image">
													<div class="main" data-img-url="img/testimonials/2.jpg"></div>
												</div>
												<div class="info">
													<h3>Isabelle Smith</h3>
													<span>Content Manager</span>
												</div>
											</div>
										</div>
									</li>
									<li>
										<div class="list_inner">
											<div class="text">
												<p>I had a little problem and the support was just awesome to quickly solve the situation. And keep going on.</p>
											</div>
											<div class="details">
												<div class="image">
													<div class="main" data-img-url="img/testimonials/3.jpg"></div>
												</div>
												<div class="info">
													<h3>Baraka Clinton</h3>
													<span>English Teacher</span>
												</div>
											</div>
										</div>
									</li>
								</ul>
							</div>
						</div>
					</div>
				</div>
				<!-- /ABOUT -->
				
				<!-- SERVICE -->
				<div id="service" class="tokyo_tm_section">
					<div class="container">
						<div class="tokyo_tm_services">
							<div class="tokyo_tm_title">
								<div class="title_flex">
									<div class="left">
										<span>Services</span>
										<h3>What I Do</h3>
									</div>
								</div>
							</div>
							<div class="list">
								<ul>
									<li>
										<div class="list_inner">
											<span class="number">01</span>
											<h3 class="title">Web Design</h3>
											<p class="text">Web development is the most famous job in the world and it is very interesting...</p>
											<div class="tokyo_tm_read_more">
												<a href="#"><span>Read More</span></a>
											</div>
											<a class="tokyo_tm_full_link" href="#"></a>
											
											<!-- Service Popup Start -->
											<img class="popup_service_image" src="img/news/1.jpg" alt="" />
											<div class="service_hidden_details">
												<div class="service_popup_informations">
													<div class="descriptions">
														<p>Tokyo is a leading web design agency with an award-winning design team that creates innovative, effective websites that capture your brand, improve your conversion rates, and maximize your revenue to help grow your business and achieve your goals.</p>
														<p>In today’s digital world, your website is the first interaction consumers have with your business. That's why almost 95 percent of a user’s first impression relates to web design. It’s also why web design services can have an immense impact on your company’s bottom line.</p>
														<p>That’s why more companies are not only reevaluating their website’s design but also partnering with Tokyo, the web design agency that’s driven more than $2.4 billion in revenue for its clients. With over 50 web design awards under our belt, we're confident we can design a custom website that drives sales for your unique business.</p>
													</div>
												</div>
											</div>
											<!-- /Service Popup End -->
											
										</div>
									</li>
									<li>
										<div class="list_inner">
											<span class="number">02</span>
											<h3 class="title">Content Writing</h3>
											<p class="text">Web development is the most famous job in the world and it is very interesting...</p>
											<div class="tokyo_tm_read_more">
												<a href="#"><span>Read More</span></a>
											</div>
											<a class="tokyo_tm_full_link" href="#"></a>
											
											<!-- Service Popup Start -->
											<img class="popup_service_image" src="img/news/2.jpg" alt="" />
											<div class="service_hidden_details">
												<div class="service_popup_informations">
													<div class="descriptions">
														<p>Tokyo is a leading web design agency with an award-winning design team that creates innovative, effective websites that capture your brand, improve your conversion rates, and maximize your revenue to help grow your business and achieve your goals.</p>
														<p>In today’s digital world, your website is the first interaction consumers have with your business. That's why almost 95 percent of a user’s first impression relates to web design. It’s also why web design services can have an immense impact on your company’s bottom line.</p>
														<p>That’s why more companies are not only reevaluating their website’s design but also partnering with Tokyo, the web design agency that’s driven more than $2.4 billion in revenue for its clients. With over 50 web design awards under our belt, we're confident we can design a custom website that drives sales for your unique business.</p>
													</div>
												</div>
											</div>
											<!-- /Service Popup End -->
											
										</div>
									</li>
									<li>
										<div class="list_inner">
											<span class="number">03</span>
											<h3 class="title">Brand Identity</h3>
											<p class="text">Web development is the most famous job in the world and it is very interesting...</p>
											<div class="tokyo_tm_read_more">
												<a href="#"><span>Read More</span></a>
											</div>
											<a class="tokyo_tm_full_link" href="#"></a>
											
											<!-- Service Popup Start -->
											<img class="popup_service_image" src="img/news/3.jpg" alt="" />
											<div class="service_hidden_details">
												<div class="service_popup_informations">
													<div class="descriptions">
														<p>Tokyo is a leading web design agency with an award-winning design team that creates innovative, effective websites that capture your brand, improve your conversion rates, and maximize your revenue to help grow your business and achieve your goals.</p>
														<p>In today’s digital world, your website is the first interaction consumers have with your business. That's why almost 95 percent of a user’s first impression relates to web design. It’s also why web design services can have an immense impact on your company’s bottom line.</p>
														<p>That’s why more companies are not only reevaluating their website’s design but also partnering with Tokyo, the web design agency that’s driven more than $2.4 billion in revenue for its clients. With over 50 web design awards under our belt, we're confident we can design a custom website that drives sales for your unique business.</p>
													</div>
												</div>
											</div>
											<!-- /Service Popup End -->
											
										</div>
									</li>
									<li>
										<div class="list_inner">
											<span class="number">04</span>
											<h3 class="title">Live Chat</h3>
											<p class="text">Web development is the most famous job in the world and it is very interesting...</p>
											<div class="tokyo_tm_read_more">
												<a href="#"><span>Read More</span></a>
											</div>
											<a class="tokyo_tm_full_link" href="#"></a>
											
											<!-- Service Popup Start -->
											<img class="popup_service_image" src="img/news/4.jpg" alt="" />
											<div class="service_hidden_details">
												<div class="service_popup_informations">
													<div class="descriptions">
														<p>Tokyo is a leading web design agency with an award-winning design team that creates innovative, effective websites that capture your brand, improve your conversion rates, and maximize your revenue to help grow your business and achieve your goals.</p>
														<p>In today’s digital world, your website is the first interaction consumers have with your business. That's why almost 95 percent of a user’s first impression relates to web design. It’s also why web design services can have an immense impact on your company’s bottom line.</p>
														<p>That’s why more companies are not only reevaluating their website’s design but also partnering with Tokyo, the web design agency that’s driven more than $2.4 billion in revenue for its clients. With over 50 web design awards under our belt, we're confident we can design a custom website that drives sales for your unique business.</p>
													</div>
												</div>
											</div>
											<!-- /Service Popup End -->
											
										</div>
									</li>
									<li>
										<div class="list_inner">
											<span class="number">05</span>
											<h3 class="title">After Effects</h3>
											<p class="text">Web development is the most famous job in the world and it is very interesting...</p>
											<div class="tokyo_tm_read_more">
												<a href="#"><span>Read More</span></a>
											</div>
											<a class="tokyo_tm_full_link" href="#"></a>
											
											<!-- Service Popup Start -->
											<img class="popup_service_image" src="img/news/1.jpg" alt="" />
											<div class="service_hidden_details">
												<div class="service_popup_informations">
													<div class="descriptions">
														<p>Tokyo is a leading web design agency with an award-winning design team that creates innovative, effective websites that capture your brand, improve your conversion rates, and maximize your revenue to help grow your business and achieve your goals.</p>
														<p>In today’s digital world, your website is the first interaction consumers have with your business. That's why almost 95 percent of a user’s first impression relates to web design. It’s also why web design services can have an immense impact on your company’s bottom line.</p>
														<p>That’s why more companies are not only reevaluating their website’s design but also partnering with Tokyo, the web design agency that’s driven more than $2.4 billion in revenue for its clients. With over 50 web design awards under our belt, we're confident we can design a custom website that drives sales for your unique business.</p>
													</div>
												</div>
											</div>
											<!-- /Service Popup End -->
											
										</div>
									</li>
									<li>
										<div class="list_inner">
											<span class="number">06</span>
											<h3 class="title">Mobile App</h3>
											<p class="text">Web development is the most famous job in the world and it is very interesting...</p>
											<div class="tokyo_tm_read_more">
												<a href="#"><span>Read More</span></a>
											</div>
											<a class="tokyo_tm_full_link" href="#"></a>
											
											<!-- Service Popup Start -->
											<img class="popup_service_image" src="img/news/2.jpg" alt="" />
											<div class="service_hidden_details">
												<div class="service_popup_informations">
													<div class="descriptions">
														<p>Tokyo is a leading web design agency with an award-winning design team that creates innovative, effective websites that capture your brand, improve your conversion rates, and maximize your revenue to help grow your business and achieve your goals.</p>
														<p>In today’s digital world, your website is the first interaction consumers have with your business. That's why almost 95 percent of a user’s first impression relates to web design. It’s also why web design services can have an immense impact on your company’s bottom line.</p>
														<p>That’s why more companies are not only reevaluating their website’s design but also partnering with Tokyo, the web design agency that’s driven more than $2.4 billion in revenue for its clients. With over 50 web design awards under our belt, we're confident we can design a custom website that drives sales for your unique business.</p>
													</div>
												</div>
											</div>
											<!-- /Service Popup End -->
											
										</div>
									</li>
								</ul>
							</div>
						</div>
					</div>
					<div class="tokyo_tm_partners">
						<div class="container">
							<div class="tokyo_section_title">
								<h3>Partners</h3>
							</div>
							<div class="partners_inner">
								<ul>
									<li>
										<div class="list_inner">
											<img src="img/partners/light/1.png" alt="" />
										</div>
									</li>
									<li>
										<div class="list_inner">
											<img src="img/partners/light/2.png" alt="" />
										</div>
									</li>
									<li>
										<div class="list_inner">
											<img src="img/partners/light/3.png" alt="" />
										</div>
									</li>
									<li>
										<div class="list_inner">
											<img src="img/partners/light/4.png" alt="" />
										</div>
									</li>
									<li>
										<div class="list_inner">
											<img src="img/partners/light/5.png" alt="" />
										</div>
									</li>
									<li>
										<div class="list_inner">
											<img src="img/partners/light/6.png" alt="" />
										</div>
									</li>
									<li>
										<div class="list_inner">
											<img src="img/partners/light/7.png" alt="" />
										</div>
									</li>
									<li>
										<div class="list_inner">
											<img src="img/partners/light/8.png" alt="" />
										</div>
									</li>
								</ul>
							</div>
						</div>
					</div>
					<div class="tokyo_tm_facts">
						<div class="container">
							<div class="tokyo_section_title">
								<h3>Fun Facts</h3>
							</div>
							<div class="list">
								<ul>
									<li>
										<div class="list_inner">
											<h3>777+</h3>
											<span>Projects Completed</span>
										</div>
									</li>
									<li>
										<div class="list_inner">
											<h3>3K</h3>
											<span>Happy Clients</span>
										</div>
									</li>
									<li>
										<div class="list_inner">
											<h3>9K+</h3>
											<span>Lines of Code</span>
										</div>
									</li>
								</ul>
							</div>
						</div>
					</div>
					<div class="tokyo_tm_pricing">
						<div class="container">
							<div class="tokyo_section_title">
								<h3>Pricing</h3>
							</div>
							<div class="list">
								<ul>
									<li>
										<div class="list_inner">
											<div class="price">
												<h3><span>0<span class="currency">$</span></span></h3>
											</div>
											<div class="plan">
												<h3>Free</h3>
											</div>
											<ul class="item">
												<li class="active"><p>Premium Icons</p></li>
												<li><p>Quality Logo</p></li>
												<li><p>Stock Images</p></li>
												<li><p>Free Support</p></li>
											</ul>
											<div class="tokyo_tm_button" data-position="left">
												<a href="#">
													<span>Purchase</span>
												</a>
											</div>
										</div>
									</li>
									<li>
										<div class="list_inner">
											<div class="price">
												<h3><span>30<span class="currency">$</span></span></h3>
											</div>
											<div class="plan">
												<h3>Basic</h3>
											</div>
											<ul class="item">
												<li class="active"><p>Premium Icons</p></li>
												<li class="active"><p>Quality Logo</p></li>
												<li><p>Stock Images</p></li>
												<li><p>Free Support</p></li>
											</ul>
											<div class="tokyo_tm_button" data-position="left">
												<a href="#">
													<span>Purchase</span>
												</a>
											</div>
											<span class="popular">Popular</span>
										</div>
									</li>
									<li>
										<div class="list_inner">
											<div class="price">
												<h3><span>70<span class="currency">$</span></span></h3>
											</div>
											<div class="plan">
												<h3>Premium</h3>
											</div>
											<ul class="item">
												<li class="active"><p>Premium Icons</p></li>
												<li class="active"><p>Quality Logo</p></li>
												<li class="active"><p>Stock Images</p></li>
												<li class="active"><p>Free Support</p></li>
											</ul>
											<div class="tokyo_tm_button" data-position="left">
												<a href="#">
													<span>Purchase</span>
												</a>
											</div>
										</div>
									</li>
								</ul>
							</div>
						</div>
					</div>
				</div>
				<!-- /SERVICE -->
				
				<div class="tokyo_tm_portfolio_titles"></div>
				<!-- PORTFOLIO -->
				<div id="portfolio" class="tokyo_tm_section">
					<div class="container">
						<div class="tokyo_tm_portfolio">
							<div class="tokyo_tm_title">
								<div class="title_flex">
									<div class="left">
										<span>Portfolio</span>
										<h3>Creative Portfolio</h3>
									</div>
									<div class="portfolio_filter">
										<ul>
											<li><a href="#" class="current" data-filter="*">All</a></li>
											<li><a href="#" data-filter=".vimeo">Vimeo</a></li>
											<li><a href="#" data-filter=".youtube">Youtube</a></li>
											<li><a href="#" data-filter=".soundcloud">Soundcloud</a></li>
											<li><a href="#" data-filter=".image">Image</a></li>
											<li><a href="#" data-filter=".detail">Detail</a></li>
										</ul>
									</div>
								</div>
							</div>
							<div class="list_wrapper">
								<ul class="portfolio_list gallery_zoom">
									<li class="vimeo">
										<div class="inner">
											<div class="entry tokyo_tm_portfolio_animation_wrap" data-title="Teresa Butler" data-category="Vimeo">
												<a class="popup-vimeo" href="https://vimeo.com/337293658">
													<img src="img/thumbs/1-1.jpg" alt="" />
													<div class="abs_image" data-img-url="img/portfolio/5.jpg"></div>
												</a>
											</div>
										</div>
									</li>
									<li class="youtube">
										<div class="inner">
											<div class="entry tokyo_tm_portfolio_animation_wrap" data-title="Ashley Flores" data-category="Youtube">
												<a class="popup-youtube" href="https://www.youtube.com/watch?v=7e90gBu4pas">
													<img src="img/thumbs/1-1.jpg" alt="" />
													<div class="abs_image" data-img-url="img/portfolio/6.jpg"></div>
												</a>
											</div>
										</div>
									</li>
									<li class="soundcloud">
										<div class="inner">
											<div class="entry tokyo_tm_portfolio_animation_wrap" data-title="Derek Smith" data-category="Soundcloud">
												<a class="soundcloude_link mfp-iframe audio" href="https://w.soundcloud.com/player/?url=https%3A//api.soundcloud.com/tracks/471954807&color=%23ff5500&auto_play=true&hide_related=false&show_comments=true&show_user=true&show_reposts=false&show_teaser=true&visual=true">
													<img src="img/thumbs/1-1.jpg" alt="" />
													<div class="abs_image" data-img-url="img/portfolio/4.jpg"></div>
												</a>
											</div>
										</div>
									</li>
									<li class="image">
										<div class="inner">
											<div class="entry tokyo_tm_portfolio_animation_wrap" data-title="Gloria Jenkins" data-category="Image">
												<a class="zoom" href="img/portfolio/3.jpg">
													<img src="img/thumbs/1-1.jpg" alt="" />
													<div class="abs_image" data-img-url="img/portfolio/3.jpg"></div>
												</a>
											</div>
										</div>
									</li>
									<li class="detail">
										<div class="inner">
											<div class="entry tokyo_tm_portfolio_animation_wrap" data-title="Selena Gomez" data-category="Detail">
												<a class="popup_info" href="#">
													<img src="img/thumbs/1-1.jpg" alt="" />
													<div class="abs_image" data-img-url="img/portfolio/7.jpg"></div>
												</a>
											</div>
										</div>
										
										<!-- Portfolio Popup Start -->
										<div class="details_all_wrap">
											<div class="popup_details">
												<div class="main_details">
													<div class="textbox">
														<p>We live in a world where we need to move quickly and iterate on our ideas as flexibly as possible. Building mockups strikes the ideal balance between true-life representation of the end product and ease of modification.</p>
														<p>Mockups are useful both for the creative phase of the project - for instance when you're trying to figure out your user flows or the proper visual hierarchy - and the production phase when they will represent the target product. Making mockups a part of your creative and development process allows you to quickly and easily ideate.</p>
													</div>
													<div class="detailbox">
														<ul>
															<li>
																<span class="first">Client</span>
																<span>Alvaro Morata</span>
															</li>
															<li>
																<span class="first">Category</span>
																<span><a href="#">Detail</a></span>
															</li>
															<li>
																<span class="first">Date</span>
																<span>October 22, 2022</span>
															</li>
															<li>
																<span class="first">Share</span>
																<ul class="share">
																	<li><a href="#"><i class="icon-facebook-squared"></i></a></li>
																	<li><a href="#"><i class="icon-twitter-squared"></i></a></li>
																	<li><a href="#"><i class="icon-behance-squared"></i></a></li>
																	<li><a href="#"><i class="icon-linkedin-squared"></i></a></li>
																</ul>
															</li>
														</ul>
													</div>
												</div>
												<div class="additional_images">
													<ul>
														<li>
															<div class="list_inner">
																<div class="my_image">
																	<img src="img/thumbs/4-2.jpg" alt="" />
																	<div class="main" data-img-url="img/portfolio/1.jpg"></div>
																</div>
															</div>
														</li>
														<li>
															<div class="list_inner">
																<div class="my_image">
																	<img src="img/thumbs/4-2.jpg" alt="" />
																	<div class="main" data-img-url="img/portfolio/2.jpg"></div>
																</div>
															</div>
														</li>
														<li>
															<div class="list_inner">
																<div class="my_image">
																	<img src="img/thumbs/4-2.jpg" alt="" />
																	<div class="main" data-img-url="img/portfolio/3.jpg"></div>
																</div>
															</div>
														</li>
													</ul>
												</div>
											</div>
										</div>
										<!-- /Portfolio Popup End -->
										
									</li>
									<li class="detail">
										<div class="inner">
											<div class="entry tokyo_tm_portfolio_animation_wrap" data-title="Ave Simone" data-category="Detail">
												<a class="popup_info" href="#">
													<img src="img/thumbs/1-1.jpg" alt="" />
													<div class="abs_image" data-img-url="img/portfolio/8.jpg"></div>
												</a>
											</div>
										</div>
										
										<!-- Portfolio Popup Start -->
										<div class="details_all_wrap">
											<div class="popup_details">
												<div class="main_details">
													<div class="textbox">
														<p>We live in a world where we need to move quickly and iterate on our ideas as flexibly as possible. Building mockups strikes the ideal balance between true-life representation of the end product and ease of modification.</p>
														<p>Mockups are useful both for the creative phase of the project - for instance when you're trying to figure out your user flows or the proper visual hierarchy - and the production phase when they will represent the target product. Making mockups a part of your creative and development process allows you to quickly and easily ideate.</p>
													</div>
													<div class="detailbox">
														<ul>
															<li>
																<span class="first">Client</span>
																<span>Alvaro Morata</span>
															</li>
															<li>
																<span class="first">Category</span>
																<span><a href="#">Detail</a></span>
															</li>
															<li>
																<span class="first">Date</span>
																<span>October 22, 2022</span>
															</li>
															<li>
																<span class="first">Share</span>
																<ul class="share">
																	<li><a href="#"><i class="icon-facebook-squared"></i></a></li>
																	<li><a href="#"><i class="icon-twitter-squared"></i></a></li>
																	<li><a href="#"><i class="icon-behance-squared"></i></a></li>
																	<li><a href="#"><i class="icon-linkedin-squared"></i></a></li>
																</ul>
															</li>
														</ul>
													</div>
												</div>
												<div class="additional_images">
													<ul>
														<li>
															<div class="list_inner">
																<div class="my_image">
																	<img src="img/thumbs/4-2.jpg" alt="" />
																	<div class="main" data-img-url="img/portfolio/1.jpg"></div>
																</div>
															</div>
														</li>
														<li>
															<div class="list_inner">
																<div class="my_image">
																	<img src="img/thumbs/4-2.jpg" alt="" />
																	<div class="main" data-img-url="img/portfolio/2.jpg"></div>
																</div>
															</div>
														</li>
														<li>
															<div class="list_inner">
																<div class="my_image">
																	<img src="img/thumbs/4-2.jpg" alt="" />
																	<div class="main" data-img-url="img/portfolio/3.jpg"></div>
																</div>
															</div>
														</li>
													</ul>
												</div>
											</div>
										</div>
										<!-- /Portfolio Popup End -->
										
									</li>
								</ul>
							</div>
						</div>
					</div>	
				</div>
				<!-- /PORTFOLIO -->

				<!-- NEWS -->
				<div id="news" class="tokyo_tm_section">
					<div class="container">
						<div class="tokyo_tm_news">
							<div class="tokyo_tm_title">
								<div class="title_flex">
									<div class="left">
										<span>News</span>
										<h3>Latest News</h3>
									</div>
								</div>
							</div>
							<ul>
								<li>
									<div class="list_inner">
										<div class="image">
											<img src="img/thumbs/40-25.jpg" alt="" />
											<div class="main" data-img-url="img/news/1.jpg"></div>
											<a class="tokyo_tm_full_link" href="#"></a>
										</div>
										<div class="details">
											<div class="extra">
												<div class="short">
													<p class="date">By <a href="#">Alex Watson</a> <span>22 Oct 2022</span></p>
												</div>
											</div>
											<h3 class="title"><a href="#">Format releases a new tool that enables direct video hosting</a></h3>
											<div class="tokyo_tm_read_more">
												<a href="#"><span>Read More</span></a>
											</div>
										</div>
										
										<!-- News Popup Start -->
										<div class="main_content">
											<div class="descriptions">
												<p class="bigger">Just because we can't get out and about like we normally would, doesn’t mean we have to stop taking pictures. There’s still plenty you can do, provided you're prepared to use some imagination. Here are a few ideas to keep you shooting until normal life resumes.</p>
												<p>Most photographers love to shoot the unusual, and you don’t get much more unusual than These Unprecedented Times. Right now everything counts as out of the ordinary. There are a number of remarkable things about these lockdown days that are worth photographing now so we can remember them when it is all over.</p>
												<div class="quotebox">
													<div class="icon">
														<i class="icon-quote-left"></i>
													</div>
													<p>Most photographers find it hard to see interesting pictures in places in which they are most familiar. A trip somewhere new seems always exactly what our photography needed, as shooting away from home consistently inspires us to new artistic heights.</p>
												</div>
												<p>Streets empty that are usually busy are remarkable and can evoke the sense of historical pictures from before the invention of the motorcar. Other things that are different at the moment will be queues to get into stores and the lines marked out on the floor to show how far apart we should be.</p>
												<p>Pretend everything is new and that you haven’t seen it before, and then you will be free to notice the leading lines, the places where one edge meets another in delightful geometric harmony, and how the ordinary things in the kitchen are transformed when the light is on or off.</p>
												<p>The trick here is to look slowly, and then look again. Take the time to look in detail and to look at the same thing from different angles, with different light, long lenses and wide lenses. Then move to the left a bit. You may never feel the need to leave the house again.</p>
											</div>
										</div>
										<!-- /News Popup End -->
										
									</div>
								</li>
								<li>
									<div class="list_inner">
										<div class="image">
											<img src="img/thumbs/40-25.jpg" alt="" />
											<div class="main" data-img-url="img/news/2.jpg"></div>
											<a class="tokyo_tm_full_link" href="#"></a>
										</div>
										<div class="details">
											<div class="extra">
												<div class="short">
													<p class="date">By <a href="#">Brook Kennedy</a> <span>15 Oct 2022</span></p>
												</div>
											</div>
											<h3 class="title"><a href="#">Sony announced two new full frame cameras with zero fanfare</a></h3>
											<div class="tokyo_tm_read_more">
												<a href="#"><span>Read More</span></a>
											</div>
										</div>
										
										<!-- News Popup Start -->
										<div class="main_content">
											<div class="descriptions">
												<p class="bigger">Just because we can't get out and about like we normally would, doesn’t mean we have to stop taking pictures. There’s still plenty you can do, provided you're prepared to use some imagination. Here are a few ideas to keep you shooting until normal life resumes.</p>
												<p>Most photographers love to shoot the unusual, and you don’t get much more unusual than These Unprecedented Times. Right now everything counts as out of the ordinary. There are a number of remarkable things about these lockdown days that are worth photographing now so we can remember them when it is all over.</p>
												<div class="quotebox">
													<div class="icon">
														<i class="icon-quote-left"></i>
													</div>
													<p>Most photographers find it hard to see interesting pictures in places in which they are most familiar. A trip somewhere new seems always exactly what our photography needed, as shooting away from home consistently inspires us to new artistic heights.</p>
												</div>
												<p>Streets empty that are usually busy are remarkable and can evoke the sense of historical pictures from before the invention of the motorcar. Other things that are different at the moment will be queues to get into stores and the lines marked out on the floor to show how far apart we should be.</p>
												<p>Pretend everything is new and that you haven’t seen it before, and then you will be free to notice the leading lines, the places where one edge meets another in delightful geometric harmony, and how the ordinary things in the kitchen are transformed when the light is on or off.</p>
												<p>The trick here is to look slowly, and then look again. Take the time to look in detail and to look at the same thing from different angles, with different light, long lenses and wide lenses. Then move to the left a bit. You may never feel the need to leave the house again.</p>
											</div>
										</div>
										<!-- /News Popup End -->
										
									</div>
								</li>
								<li>
									<div class="list_inner">
										<div class="image">
											<img src="img/thumbs/40-25.jpg" alt="" />
											<div class="main" data-img-url="img/news/3.jpg"></div>
											<a class="tokyo_tm_full_link" href="#"></a>
										</div>
										<div class="details">
											<div class="extra">
												<div class="short">
													<p class="date">By <a href="#">Paola Atkins</a> <span>07 Oct 2022</span></p>
												</div>
											</div>
											<h3 class="title"><a href="#">Why every photographer should shoot film, even in 2022</a></h3>
											<div class="tokyo_tm_read_more">
												<a href="#"><span>Read More</span></a>
											</div>
										</div>
										
										<!-- News Popup Start -->
										<div class="main_content">
											<div class="descriptions">
												<p class="bigger">Just because we can't get out and about like we normally would, doesn’t mean we have to stop taking pictures. There’s still plenty you can do, provided you're prepared to use some imagination. Here are a few ideas to keep you shooting until normal life resumes.</p>
												<p>Most photographers love to shoot the unusual, and you don’t get much more unusual than These Unprecedented Times. Right now everything counts as out of the ordinary. There are a number of remarkable things about these lockdown days that are worth photographing now so we can remember them when it is all over.</p>
												<div class="quotebox">
													<div class="icon">
														<i class="icon-quote-left"></i>
													</div>
													<p>Most photographers find it hard to see interesting pictures in places in which they are most familiar. A trip somewhere new seems always exactly what our photography needed, as shooting away from home consistently inspires us to new artistic heights.</p>
												</div>
												<p>Streets empty that are usually busy are remarkable and can evoke the sense of historical pictures from before the invention of the motorcar. Other things that are different at the moment will be queues to get into stores and the lines marked out on the floor to show how far apart we should be.</p>
												<p>Pretend everything is new and that you haven’t seen it before, and then you will be free to notice the leading lines, the places where one edge meets another in delightful geometric harmony, and how the ordinary things in the kitchen are transformed when the light is on or off.</p>
												<p>The trick here is to look slowly, and then look again. Take the time to look in detail and to look at the same thing from different angles, with different light, long lenses and wide lenses. Then move to the left a bit. You may never feel the need to leave the house again.</p>
											</div>
										</div>
										<!-- /News Popup End -->
										
									</div>
								</li>
								<li>
									<div class="list_inner">
										<div class="image">
											<img src="img/thumbs/40-25.jpg" alt="" />
											<div class="main" data-img-url="img/news/4.jpg"></div>
											<a class="tokyo_tm_full_link" href="#"></a>
										</div>
										<div class="details">
											<div class="extra">
												<div class="short">
													<p class="date">By <a href="#">Kevin Stone</a> <span>25 Sep 2022</span></p>
												</div>
											</div>
											<h3 class="title"><a href="#">Stay creative in lockdown with these fun photo projects</a></h3>
											<div class="tokyo_tm_read_more">
												<a href="#"><span>Read More</span></a>
											</div>
										</div>
										
										<!-- News Popup Start -->
										<div class="main_content">
											<div class="descriptions">
												<p class="bigger">Just because we can't get out and about like we normally would, doesn’t mean we have to stop taking pictures. There’s still plenty you can do, provided you're prepared to use some imagination. Here are a few ideas to keep you shooting until normal life resumes.</p>
												<p>Most photographers love to shoot the unusual, and you don’t get much more unusual than These Unprecedented Times. Right now everything counts as out of the ordinary. There are a number of remarkable things about these lockdown days that are worth photographing now so we can remember them when it is all over.</p>
												<div class="quotebox">
													<div class="icon">
														<i class="icon-quote-left"></i>
													</div>
													<p>Most photographers find it hard to see interesting pictures in places in which they are most familiar. A trip somewhere new seems always exactly what our photography needed, as shooting away from home consistently inspires us to new artistic heights.</p>
												</div>
												<p>Streets empty that are usually busy are remarkable and can evoke the sense of historical pictures from before the invention of the motorcar. Other things that are different at the moment will be queues to get into stores and the lines marked out on the floor to show how far apart we should be.</p>
												<p>Pretend everything is new and that you haven’t seen it before, and then you will be free to notice the leading lines, the places where one edge meets another in delightful geometric harmony, and how the ordinary things in the kitchen are transformed when the light is on or off.</p>
												<p>The trick here is to look slowly, and then look again. Take the time to look in detail and to look at the same thing from different angles, with different light, long lenses and wide lenses. Then move to the left a bit. You may never feel the need to leave the house again.</p>
											</div>
										</div>
										<!-- /News Popup End -->
										
									</div>
								</li>
							</ul>
						</div>
					</div>	
				</div>
				<!-- /NEWS -->

				<!-- CONTACT -->
				<div id="contact" class="tokyo_tm_section">
					<div class="container">
						<div class="tokyo_tm_contact">
							<div class="tokyo_tm_title">
								<div class="title_flex">
									<div class="left">
										<span>Contact</span>
										<h3>Get in Touch</h3>
									</div>
								</div>
							</div>
							<div class="map_wrap">
								<div class="mapouter"><div class="gmap_canvas"><iframe width="100%" height="355" id="gmap_canvas" src="https://maps.google.com/maps?q=2880%20Broadway,%20New%20York&t=&z=13&ie=UTF8&iwloc=&output=embed" frameborder="0" scrolling="no" marginheight="0" marginwidth="0"></iframe><a href="https://fmovies-online.net">fmovies</a><br><style>.mapouter{position:relative;text-align:right;height:355px;width:100%;}</style><a href="https://www.embedgooglemap.net">embedgooglemap.net</a><style>.gmap_canvas {overflow:hidden;background:none!important;height:355px;width:100%;}</style></div></div>

								<!-- Get your API here https://www.embedgooglemap.net -->

							</div>
							<div class="fields">
								<form action="/" method="post" class="contact_form" id="contact_form" autocomplete="off">
									<div class="returnmessage" data-success="Your message has been received, We will contact you soon."></div>
									<div class="empty_notice"><span>Please Fill Required Fields</span></div>
									<div class="first">
										<ul>
											<li>
												<input id="name" type="text" placeholder="Name">
											</li>
											<li>
												<input id="email" type="text" placeholder="Email">
											</li>
										</ul>
									</div>
									<div class="last">
										<textarea id="message" placeholder="Message"></textarea>
									</div>
									<div class="tokyo_tm_button" data-position="left">
										<a id="send_message" href="#">
											<span>Send Message</span>
										</a>
									</div>

									<!-- If you want to change mail address to yours, please open modal.php and go to line 4 -->

								</form>
							</div>
						</div>
					</div>	
				</div>
				<!-- /CONTACT -->

			</div>
		</div>
		<!-- /RIGHTPART -->

		<!-- CURSOR -->
		<div class="mouse-cursor cursor-outer"></div>
		<div class="mouse-cursor cursor-inner"></div>
		<!-- /CURSOR -->

	</div>
	<!-- / WRAPPER ALL -->
	
<!-- SCRIPTS -->
<script src="js/jquery.js"></script>
<!--[if lt IE 10]> <script type="text/javascript" src="js/ie8.js"></script> <![endif]-->	
<script src="js/plugins.js"></script>
<script src="js/init.js"></script>
<!-- /SCRIPTS -->

</body>
</html>